:root {
    --dark-primary: #689F38;
    --light-primary: #DCEDC8;
    --primary: #8BC34A;
    --text: #111111;
    --accent: #4CAF50;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider: #BDBDBD;
}