.side-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    width: auto;
    align-items: stretch;
    float: left;
    margin-top: 0;
    margin-right: 1%;
    white-space: nowrap;

}

.side-bar__item {
    display: flex;
    color: var(--text);
    flex-grow: 0;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    padding: 1em;
}

.side-bar__list {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5%;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .side-bar {
        width: min-content;
        margin: 0;
    }

    .side-bar__item {
        padding: 0.3em;
        white-space: pre-line;
    }
}